{
	"extends": [
		"plugin:@wordpress/eslint-plugin/recommended"
	],
	"rules": {
		"no-console": "off"
	},
	"globals": {
		"jQuery": "readonly",
		"HTMLElement": true
	},
	"env": {
		"browser": true
	}
}
